.align-bottom-right{
	right: 5%;
    bottom: 10%;
    position: absolute;
}

body
{
    padding: 0;
    margin: 0;
}

.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 100vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

.font-logo {
    font-family: 'Dancing Script', cursive;
    font-size: 70px;
}

.logo-shadow {
    text-shadow: 4px 4px 15px rgba(150, 150, 150, 0.5);
}

.text-white {
    color: #FFFFFF;
}

.font-italic {
    font-style: italic;
}

.font-size-16 {
    font-size: 16px;
}


/* Start */

[name=body-start]  
{
    background: #fdcc52;
}

#sublogo{
    -webkit-animation-duration: 1s;
}

/* Form Login */
#form-login {
  -webkit-animation-duration: 2s;
}

#start wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

#start p.form-title
{
    font-family: 'Open Sans' , sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    color: #FFFFFF;
    margin-top: 5%;
    text-transform: uppercase;
    letter-spacing: 4px;
}

#start form
{
    width: 550px;
    margin: 0 auto;
}

#start ::-webkit-input-placeholder {
   color: #FFFFFF;;
}

#start form.login input[type="text"], #start form.login input[type="password"]
{
    width: 100%;
    margin: 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #FFFFFF;
    outline: 0;
    font-style: italic;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #FFFFFF;
    outline: 0;
}

#start form.login input[type="submit"]
{
    width: 100%;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 16px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

#start form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

#start form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}

#start form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#start form.login label, #start form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: #FFFFFF;
}

#start form.login a
{
    transition: color 0.5s ease;
}

#start form.login a:hover
{
    color: #2ecc71;
}

#start .pr-wrap
{
    width: 100%;
    height: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    display: none;
}

#start .show-pass-reset
{
    display: block !important;
}

#start .pass-reset
{
    margin: 0 auto;
    width: 250px;
    position: relative;
    margin-top: 22%;
    z-index: 999;
    background: #FFFFFF;
    padding: 20px 15px;
}

#start .pass-reset label
{
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 15px;
}

#start .pass-reset input[type="email"]
{
    width: 100%;
    margin: 5px 0 0 0;
    padding: 5px 10px;
    background: 0;
    border: 0;
    border-bottom: 1px solid #000000;
    outline: 0;
    font-style: italic;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    margin-bottom: 5px;
    color: #000000;
    outline: 0;
}

#start .pass-reset input[type="submit"]
{
    width: 100%;
    border: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    margin-top: 10px;
    outline: 0;
    cursor: pointer;
    letter-spacing: 1px;
}

#start .pass-reset input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

#start .posted-by
{
    position: absolute;
    bottom: 26px;
    margin: 0 auto;
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.66);
    padding: 10px;
    left: 45%;
}

#start #btn-login {
    background-color: #9370DB;
    color: #FFFFFF;
}

#start #btn-login {
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

#start #btn-login:hover {
  background-color: #A020F0;  
}


/* Cliente */
[name=body-cliente] {
    background: purple;
}

#cpf-input h3 {
    font-family: 'Poiret One', cursive;
    color: white;
}

#cpf-input .codrops-header h1 {
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 4.5em;
}

#cpf-input .next {
    background: yellow !important;
    /*bottom: 2.35em !important;
    height: 2.20em;
    width: 2.20em;*/
    bottom: 2.30em !important;
    height: 2.30em;
    width: 2.30em;
    color: white !important;
}

#cpf-input ::-webkit-input-placeholder {
    color: white;
}

#cpf-input .questions input {
    color: white;
}

#cpf-input .glyphicon {
    line-height: 0 !important;
    top: 5px;
}

/* Cad-Cliente */

[name=body-cadcliente] {
    background: #00CDCD;
}

#cad-cliente .glyphicon {
    line-height: 0 !important;
    top: 5px;
}

#cad-cliente .next {
    background: yellow !important;
	bottom: 2.70em !important;
    height: 2.30em;
    width: 2.30em;
    color: white !important;
}

#cad-cliente .glyphicon {
    line-height: 0 !important;
}

#CadClienteCtrl h1 {
	font-family: 'Poiret One', cursive;
    color: white;
}

#cad-cliente span {
	color: white !important;
}

#cad-cliente .error-message {
	font-size: 30px !important;
}

#cad-cliente input, input:focus{
    color: white;
}

#CadClienteCtrl .codrops-header h1 {
    color: white;
    font-family: 'Poiret One', cursive;
    font-weight: bold;
    font-size: 4.5em;
}