<div id="cad-cliente" class="animated fadeInDown">
	<div class="container" ng-controller="CadClienteCtrl" id="CadClienteCtrl">
		<header class="codrops-header">
			<h1>Você é novo por aqui? :) <span>Deixe algumas informações para mantermos contato</span></h1>	
		</header>
		<section>
			<form id="theForm" class="simform" autocomplete="off">
				<div class="simform-inner">
					<ol class="questions">
						<li>
							<span><label for="nome">Qual seu nome?</label></span>
							<input id="nome" name="nome" type="text"/>
						</li>
						<li>
							<span><label for="celular">Qual seu número de celular?</label></span>
							<input id="celular" name="celular" type="text" ng-model="cel" ui-mask="(99)99999-9999"/>
						</li>
						<li>
							<span><label for="email">Qual seu e-mail favorito?</label></span>
							<input id="email" name="email" type="text"/>
						</li>
					</ol>
					<div class="controls">
						<button class="next">
							<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
						</button>
						<div class="progress"></div>
						<span class="number">
							<span class="number-current"></span>
							<span class="number-total"></span>
						</span>
						<span class="error-message"></span>
					</div>
				</div>
				<span class="final-message"></span>
			</form>
		</section>
	</div>
	<script>
		var theForm = document.getElementById( 'theForm' );
		new stepsForm( theForm, {
			onSubmit : function( form ) {
				classie.addClass( theForm.querySelector( '.simform-inner' ), 'hide' );
		}});

		$('#nome').focus();
	</script>
</div>