<div id="cpf-input" class="animated bounceInDown">
<div class="container">
	<header class="codrops-header">
    </header>
	<section>
		<header class="codrops-header">
			<h1>DIGITE SEU CPF</h1>
			<h3><strong>GANHE PONTOS</strong> E TROQUE POR PRÊMIOS!</h3>
		</header>
		<form id="theForm" class="simform" autocomplete="off">
			<div class="simform-inner">
				<ol class="questions">
					<li>
						<input type="text" id="cpf" ng-model="cliente_cpf" ui-mask="999.999.999-99">
					</li>
				</ol>
				<p></p>
				<div class="controls">
					<button class="next" type="button"
						ng-click="findCliente(cliente_cpf)">
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</form>			
	</section>
</div>
<script>
	var theForm = document.getElementById( 'theForm' );
	new stepsForm( theForm, {});
	$("#cpf").focus();
</script>
</div>