<section id="start" class="text-center" ng-controller="StartCtrl">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 id="logo-text" class="section-heading font-logo text-white logo-shadow animated slideInUp">Fidelize You</h2>
                <p id="sublogo" class="text-white logo-shadow font-size-16">Faça seu negócio crescer com clientes mais fiéis</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="wrap">
                    <p class="form-title"></p>
                    <form id="form-login" class="login" ng-submit="functionSubmit()">
                        <input type="text" placeholder="E-mail" id="email" ng-model="email" />
                        <input type="password" placeholder="Senha" id="password" ng-model="password" />
                        <input type="submit" id="btn-login" value="Entrar" class="btn btn-sm"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
